#app{
  background-color: lightblue;
  width: 80%;
  margin-left: 10%;
}

*{
  text-align: center;

  //font-family: 'Saira Stencil One', cursive;
  font-family: 'Days One', sans-serif;
  //font-family: 'Michroma', sans-serif;
  //font-family: 'Rationale', sans-serif;
}

.game-6by3{
  .tilemap{
    margin-left: 10vmax !important;
  }
  .tile img{
    height: 10vmax;
  }
}
.game-9by5{
  .tilemap{
    margin-left: 13vmax !important;
  }
  .tile img{
    height: 6vmax;
  }
}
.game-12by7{
  .tilemap{
    margin-left: 10vmax !important;
  }
  .tile img{
    height: 5vmax;
  }
}

.tile img{
  border-radius: 15px 15px 15px 15px;
  border: 5px inset rgba(0, 0, 0, 0);
  image-rendering: crisp-edges;
}

.tile img:hover{
  animation: focus 1s forwards;
}


// Apply to tiles to rotate
.rotate-0{
  animation: rotate-360 0.5s forwards;
}
.rotate-1{
  animation: rotate-90 0.5s forwards;
}
.rotate-2{
  animation: rotate-180 0.5s forwards;
}
.rotate-3{
  animation: rotate-270 0.5s forwards;
}

// Animation
@keyframes flip{
  0%{
    transform: scale(0, 0);
  }
  100%{
    transform: scale(1, 1);
  }
}

@keyframes focus {
  100%{
    transform: scale(1.2, 1.2);
  }
}

@keyframes rotate-90{
  0%  { transform: rotateZ(0deg); }
  100%{ transform: rotateZ(90deg); }
}

@keyframes rotate-180{
  0%  { transform: rotateZ(90deg); }
  100%{ transform: rotateZ(180deg); }
}

@keyframes rotate-270{
  0%  { transform: rotateZ(180deg); }
  100%{ transform: rotateZ(270deg); }
}

@keyframes rotate-360{
  0%  { transform: rotateZ(270deg); }
  100%{ transform: rotateZ(360deg); }
}