@primaryColors: {
  light: #56c8d8;
  midtone: #0097a7;
  dark: #006978;
  darker: #003539;
}

/* When container-fly-in animation starts, the scrollbar appears,
 * As the container is out of the initial screen. This looks weird,
 * So we hide the scrollbar, as we don't need it at this specific size.
 * This is an ideal solution, as it can mess up the scrollbar in other sizes too.
 */
@media screen and(min-width: 1480px) {
  body {
    overflow: hidden;
  }
}

.bg {
  background-color: #e0e0e0;
}

#app{
  background-color: @primaryColors[midtone];
  width: 80%;
  margin-left: 10%;
  margin-top: 3.5%;
  padding-bottom: 3%;
  border-radius: 20px;
  animation: container-fly-in 1.5s cubic-bezier(.17, .84, .44, 1);
}

*{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.game-6by3{
  .tilemap{
    margin-left: 10vmax !important;
  }
  .tile img{
    height: 10vmax;
  }
}
.game-9by5{
  .tilemap{
    margin-left: 13vmax !important;
  }
  .tile img{
    height: 6vmax;
  }
}
.game-12by7{
  .tilemap{
    margin-left: 10vmax !important;
  }
  .tile img{
    height: 5vmax;
  }
}

.tilemap{
  margin-top: 3%;
}
.tile img{
  border-radius: 0%;
  padding: 7%;
  image-rendering: crisp-edges;
  transform: scale(1,1);
  transition: transform 0.5s cubic-bezier(.07,.95,.55,.95), border-radius 0.25s;
}
.tile img:hover{
  border-radius: 15%;
  transform: scale(1.2, 1.2);
  transition: transform 0.5s, border-radius 0.25s;
}

.hud-turn-counter{
  background-color: @primaryColors[dark];
  color: white;
  font-size: 3em;
}
.hud-stage-counter{
  background-color: @primaryColors[dark];
  color: white;
  font-size: 3em;
}
.hud-timer{
  background-color: @primaryColors[dark];
  color: white;
  font-size: 3em;
}

.github-icon{
  color: @primaryColors[darker];
  position: fixed;
  top: 90vh;
  left: 95vw;
  font-size: 2vw;
}

// Apply to tiles to rotate
.rotate-0{
  animation: rotate-360 0.5s forwards;
}
.rotate-1{
  animation: rotate-90 0.5s forwards;
}
.rotate-2{
  animation: rotate-180 0.5s forwards;
}
.rotate-3{
  animation: rotate-270 0.5s forwards;
}

// Animation
@keyframes container-fly-in {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 25%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes focus {
  50%{
    border-radius: 25%;
  }
  100%{
    transform: scale(1.2, 1.2);
    border-radius: 25%;
  }
}

@keyframes rotate-90{
  0%  { transform: rotateZ(0deg); }
  100%{ transform: rotateZ(90deg); }
}

@keyframes rotate-180{
  0%  { transform: rotateZ(90deg); }
  100%{ transform: rotateZ(180deg); }
}

@keyframes rotate-270{
  0%  { transform: rotateZ(180deg); }
  100%{ transform: rotateZ(270deg); }
}

@keyframes rotate-360{
  0%  { transform: rotateZ(270deg); }
  100%{ transform: rotateZ(360deg); }
}